* {
  margin: 0;
  padding: 0;
}
a {
  color: #00160a;
  text-decoration: none;
}
.wrapper {
  margin: 1em;
}

.discription {
  font-family: "Poppins", sans-serif;
  margin-top: 25.33px;
}
.buttons {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
  background-color: #00160a;
  box-shadow: 5.27062px 5.27062px 2.10825px rgba(0, 0, 0, 0.25);
  border-radius: 9.48711px;
  margin: 17px 0px;
  width: 374px;
  height: 55.41px;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.nav-bar .toogleMenu {
  display: none;
}
.nav-bar .nav-menu {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  flex: 1;
  align-self: center;
}
.nav-bar .Logo {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  flex: 6;
  align-self: center;
}

@media all and (max-width: 414px) {
  .nav-bar .nav-menu {
    display: none;
  }
  .nav-bar .toogleMenu {
    display: block;
    align-self: center;
  }
  .flying-kid-image {
    width: 374px;
    height: 348.67px;
    margin-top: 47px;
  }
}
